:root {
  /**
     * Colour palette
     */
  --c-primary: #4364AF;
  --c-secondary: #00B2D5;
  --c-tertiary: #B7D93D;
  --c-quartiary: #FED42A;
  --c-background: #E9E7EA;

  /**
     * Layout
     */
  --l-gutter: 1rem;

  /**
     * Typography
     */
  --t-primary: "Trebuchet MS", Helvetica, sans-serif;
  --t-secondary: Arial, Helvetica, sans-serif;
  --t-tertiary: monospace;

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
  --t-body: var(--t-secondary);
  --t-code: var(--t-tertiary);
}